.product-name {
    display: inline;
}

.product-container {
    margin-bottom: 30px;
}

.cart-container {
    position: fixed;
    right: 0;
}

.bold {
    font-weight: bold;
}

.btn {
    cursor: pointer;
}