.product-name {
    display: inline;
}

.product-container {
    margin-bottom: 30px;
}

.table-separator {
    border: 1px solid #dedede;
}

.cart {
    margin-top: 20px;
}

.item-quantity, .bold {
    font-weight: bold;
}

.item-delete-button {
    font-size: 1.5em;
    position: relative;
    bottom: 8px;
    color: #989898;
    cursor: pointer;
}

.item-delete-button:hover {
    color: #5d5c5c;
}

.btn {
    cursor: pointer;
}

.costs-container {
    margin-top: 40px;
}

.placeholder {
    padding-top: 1rem;
}

/* Modal CSS */

.close-btn {
    cursor: pointer;
}

.modal-dialog {
    transition: 275ms cubic-bezier(.5, .08, 0, 1);
    transition-property: width, height;
}

.fade-alt {
    opacity: 0;
    top: 80px;
    transition: all 275ms cubic-bezier(.5, .08, 0, 1);
}

.fade-alt.show {
    opacity: 1;
    top: 0;
}

hr {
    width: 90%;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 400px;
    margin: 0 auto;
    pointer-events: none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}