.product-name {
    display: inline;
}

.product-container {
    margin-bottom: 30px;
}

.table-separator {
    border: 1px solid #dedede;
}

/* .item-list-container {
    max-height: 35vh;
    overflow-y: auto;
} */

.cart {
    margin-top: 20px;
}

.item-quantity, .bold {
    font-weight: bold;
}

.btn {
    cursor: pointer;
}

.costs-container {
    margin-top: 40px;
}